<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Rendering</title>
</head>

<body class="bg-primary p-2">
    <div class="bg-dark m-auto p-2 text-center text-light w-75 rounded border border-light">
        <h2>Here is our user list!</h2>
        <hr />
        {% for one_user in all_users %}
        <p>First Name: {{one_user.first_name}}</p>
        <p>Last Name: {{one_user.last_name}}</p>
        <p>Email Address: {{one_user.email}}</p>
        <hr />
        {% endfor %}
    </div>
</body>

</html>